<section class="content-header">
  <cad-delay-message mensagem="Carregando informações..." *ngIf="!usuario && modoEdicao"></cad-delay-message>
</section>

<section class="content">
  <section *ngIf="usuario || !modoEdicao" class="invoice">
    <form [formGroup]="usuarioForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> {{modoEdicao ? "Editar Usuário": "Cadastre um novo usuário"}}
          </h2>
        </div>
      </div>

      <div class="row linhaStatus">
        <div class="col-sm-6 col-xs-12">
          <mat-slide-toggle formControlName="active" class="example-margin" [checked]="usuarioForm.controls.active.value">
            {{usuarioForm.controls.active.value ? "Ativo" : "Inativo"}}
          </mat-slide-toggle>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-1 col-xs-12">
          <cad-input-container errorMessage="Deve ser escolhido CPF ou CNPJ" label="Nome">
            <mat-radio-group formControlName="federalIdType">
              <mat-radio-button (click)="limpaCpfCnpj()" value="Physical">CPF</mat-radio-button>
              <br>
              <mat-radio-button (click)="limpaCpfCnpj()" value="Juridical">CNPJ</mat-radio-button>
            </mat-radio-group>
          </cad-input-container>
        </div>

        <div class="col-sm-5 col-xs-12">
          <cad-input-container errorMessage="Campo obrigatório e com 5 caracteres no mínimo" label="Nome">
            <input class="form-control" formControlName="name" placeholder="Nome *" autocomplete="off">
          </cad-input-container>
        </div>

        <div class="col-sm-4 col-xs-6">
          <cad-input-container errorMessage="CPF/CNPJ inválido" label="CPF/CNPJ">
            <input type="text" class="form-control" formControlName="federalId" placeholder="CPF/CNPJ *" autocomplete="off" dropSpecialCharacters="false"
              [mask]="mascaraCPFCNPJ()">
          </cad-input-container>
        </div>

        <div class="col-sm-2 col-xs-12">
          <cad-input-container errorMessage="Deve ser escolhido sexo masculino ou feminino" label="Nome">
            <mat-radio-group formControlName="gender">
              <mat-radio-button value="M">Maculino</mat-radio-button>
              <br>
              <mat-radio-button value="F">Feminino</mat-radio-button>
            </mat-radio-group>
          </cad-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <cad-input-container errorMessage="RG inválido" label="RG">
            <input type="text" class="form-control" formControlName="registration" placeholder="RG" autocomplete="off">
          </cad-input-container>
        </div>

        <div class="col-sm-6 col-xs-6">
          <cad-input-container errorMessage="E-mail inválido" label="E-mail">
            <input type="text" class="form-control" formControlName="email" placeholder="E-mail *" autocomplete="off">
          </cad-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <cad-input-container errorMessage="Celular 1 inválido" label="Celular 1">
            <input type="text" class="form-control" formControlName="phone" placeholder="Celular 1 *" autocomplete="off" mask="(00) 0 0000-0000">
          </cad-input-container>
        </div>

        <div class="col-sm-6 col-xs-6">
          <cad-input-container errorMessage="Celular 2 inválido" label="Celular 2">
            <input type="text" class="form-control" formControlName="phone2" placeholder="Celular 2" autocomplete="off" mask="(00) 0 0000-0000">
          </cad-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <cad-input-container errorMessage="Telefone residencial inválido" label="Telefone Residencial">
            <input type="text" class="form-control" formControlName="residencialPhone" placeholder="Fone Residencial" autocomplete="off"
              mask="(00) 0000-0000">
          </cad-input-container>
        </div>

        <div class="col-sm-6 col-xs-6">
          <cad-input-container errorMessage="Telefone Comercial inválido" label="Telefone Comercial">
            <input type="text" class="form-control" formControlName="commercialPhone" placeholder="Fone Comercial" autocomplete="off"
              mask="(00) 0000-0000">
          </cad-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <cad-input-container errorMessage="Email de Cobrança inválido" label="Email de Cobranca">
            <input type="text" class="form-control" formControlName="emailCollection" placeholder="E-mail de Cobrança(use ; para separar os e-mails) *"
              autocomplete="off">
          </cad-input-container>
        </div>
      </div>
    </form>

    <div class="row">
      <cad-delay-message mensagem="Enviando informações..." *ngIf="delay"></cad-delay-message>
      <div *ngIf="!delay" class="col-xs-12">
        <p class="pull-left">Campos Obrigatórios *</p>
        <div class="pull-right">
          <button [routerLink]="['/usuarios']" class="btn btn-default" [disabled]="!usuarioForm.valid">
            Cancelar
          </button>
          <button (click)="submeterForm(usuarioForm.getRawValue())" class="btn btn-success" [disabled]="!usuarioForm.valid">
            Salvar
          </button>
        </div>
      </div>
    </div>

  </section>

</section>